name: Greeting
# on: [pushworkflow_dispatch]
on: 
    push:
        branches:
            - main
             - "sumit/**"
        paths-ignore:
            - 'README.md'
            - '.github/workflows/**'
    workflow_dispatch:            
    



jobs:
    greet:
        runs-on: ubuntu-latest
        steps:
            - name: greet-user
              uses:  actions/checkout@v5
            #   repository: "https://github.com/sumit26-lab/react-cicd-basic.git"
            - name:  install node js in vm
              uses: actions/setup-node@v6 
              with: 
                node-version: 20

            - name: print node version
              run : node -v
            - name : cache-nodejs
              uses: actions/cache@v4
              with:
                path: ~/.npm 
                key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
            
            - name: install depandense!
              run:  npm ci

            - name: run testCase--on code
              run:  npm run test
        
    
    build:
        runs-on: ubuntu-latest
        steps:
            - name: deploy-to
              uses:  actions/checkout@v5

            - name:  install node js in vm
              uses: actions/setup-node@v6 
              with: 
                node-version: 20
                cache: 'npm'
            
            - name: install depandense!
              run:  npm ci    

          
            - name : cache-nodejs
              uses: actions/cache@v4
              with:
                path: ~/.npm 
                key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }} 
            - name: build the project
              run: npm run build
            - name: upload dist Artifact 
              uses: actions/upload-artifact@v4 
              with:
                name: dist-file
                path: dist

            
             


    deploye:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - name: Download dist Artifact 
              uses: actions/download-artifact@v5
              with:
                name: dist-file
                path: dist
            - name: Deploye 
              run: echo "project is deploy process ..."  

            
 
